# intellij
*.iml
.idea/
*/target/**
target/**
**/src/main/resources/application*.yml

### Java template
*.class

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

### macOS template
*.DS_Store
.AppleDouble
.LSOverride

### windows
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

## Eclipse
bin/
.metadata
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

.project
.classpath
.apt_generated

## java
*.class
*.log

